<button  routerLink="/" type="back" class="btn btn-primary btn-sm">Go Back</button>
<form (ngSubmit)="submitTask(form.value)" #form="ngForm" [formGroup]="taskGroup">

<div class="form-floating mb-3">
    <input type="text" 
    formControlName="title" 
    [ngClass]=" form.form.controls['title'].invalid && form.form.controls['title'].touched ? 'form-control error' : 'form-control'  "  
    id="title" 
    placeholder="Title" 
   
    required>
    <label for="floatingInput">Task Title</label>
    <span class="text-error" *ngIf="form.form.controls['title'].invalid&& form.form.controls['title'].touched">Please enter at least 5 characters!</span>
  </div>
  <div class="form-floating mb-3">
    <input [ngClass]=" form.form.controls['details'].invalid && form.form.controls['details'].touched ? 'form-control error' : 'form-control' "  
    type="text"  
    formControlName="details" 
    id="details" 
    placeholder="Task Details" 
    
    
    required>
   
    <label for="floatingPassword">Task Details</label>
    <span class=" text-error" *ngIf="form.form.controls['details'].invalid&& form.form.controls['details'].touched">Please enter at least 5 characters!</span>
  </div> 
  <div class="form-floating mb-3">
    <app-controlled-input formControlName="mine" id="mine"></app-controlled-input>
    <!-- <label for="mine">Mine</label> -->
    <span class=" text-error" *ngIf="taskGroup.get('mine')?.touched && taskGroup.get('mine')?.hasError('required')">Please enter something!</span>
  </div> 
  <br>
  <button  [disabled]="form.invalid" type="submit" class="btn btn-primary btn-lg">Submit Task</button> 
  
  
</form>

<h1> Value: {{taskGroup.get('mine')?.value}} </h1>
<h1> Touched:{{ taskGroup.get('mine')?.touched}} </h1>

